<%- include ('head') %>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="purchase">
                    
                        <form action="/description/<%= user.product_id %>" method="post">
                            <input type="email" placeholder="Email address" name="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" required>
                            <input id="price" type="number" class="form-control" name="price" placeholder="Enter Your Price" required>
                            <button type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>















    <div class="purchase">
   
        <form action="/description/<%= user.product_id %>" method="post">
            <input type="email" placeholder="Email address" name="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" required>
            <input id="price" type="number" class="form-control" name="price" placeholder="Enter Your Price" required>
            <button type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
        </form>
    </div>