

html {
    height: 100%;
  }
body {
    height: 100%;
    background-color:beige;

  }
.word {
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#4B6DC5;
    font: 700 normal 2.5em 'tahoma';
    padding: 10rem;
    padding-left: 5rem;
  }

img{
    height: 600px;
    width:800px
  }
.login{
  padding-right: 100px;
}
.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

#login{
  background-color:aliceblue;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  margin:90px 0px 0px 35%;
}

#bid{
  width: 500px;
  height: 900px;
  background-color: aliceblue;
  margin:30px 0px 0px 35% ;
  padding: 30px;
  border-radius: 10px;
  align-items: center;
}

.heading{
  text-align: center;
}


.card{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}

.card-body{
  height: 500px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
}

.detail-heading{
  background-color: #4B6DC5;
}