<%- include ('home.ejs') %>
    <h1 class="heading">Start Your Bidding Journey</h1>
    <div id="bid">
        <form action="/buy" method="post">
            <label for="name">Enter Product Name*</label>
            <input id="productName" name="name" class="form-control" required>
            <br>
            <label for="Description">Enter Product Description*</label><br>
            <textarea name="Description" class="form-control" rows="4" cols="50" required></textarea>
            <br>
            <label for="price">Enter Bid Amount(in ₹)*</label>
            <input id="price" type="number" class="form-control" name="price" required>
            <br>
            <label for="date">Enter Publish Date*</label>
            <input type="date" class="form-control" name="date" id="date" required>
            <br>
            <label for="date">Enter Valid Date*</label>
            <input type="date" class="form-control" name="validdate" id="validdate" required>
            <br>
            <label for="bidtime">Enter Bid Time*</label>
            <input type="time" class="form-control" name="bidtime" id="product_time" required><br>
            <label for="product">Select Category</label>
            <select class="form-control" name="product">
                <option></option>
                <option value="clothes">Clothes</option>
                <option value="paintings">Paintings</option>
                <option value="Electronic Device">Electronic Device</option>
                <option value="Transport">Transport</option>
            </select>
            <br>
            <label>Upload Product Image</label>
            <input type="file" class="form-control" id="myFile" name="image">
            <br>
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>