<%- include ('home.ejs')%>
  <div id="login">
    <form action="/login" method="POST">
      <div class="mb-3">
        <input type="email" placeholder="Email address" name="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">

      </div>
      <br>


      <div class="mb-3">
        <input type="password" placeholder="Password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p>Doesn't have account?<a href="/register">register</a></p>
    </form>
  </div>